.products-header {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  justify-items: end;
  justify-content: end;
  gap: 40px;
  padding: 20px;
}

.username {
  font-size: 1.5rem;
  font-weight: 700;
}

.buttons-group {
  display: flex;
  gap: 16px;
}

.button {
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.logout {
    // background-color: #dc2626;
    color: black;
    border: none;

    &:hover {
      background-color: #b91c1c;
    }
  }

  &.cart {
    // background-color: #facc15;
    color: black;
    border: none;
  }
}

.products-grid {
  margin-top: 40px;
  padding: 10px 25px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  .product-price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #6c46aa;
    font-weight: 500;
  }

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    height: 300px;
    // object-fit: cover;
    border-radius: 8px;
    margin-bottom: 14px;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 6px;
  }

  p.description {
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 10px;
  }

  p.price {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 12px;
  }
}
